<html>
    <head>
        <title>Stoiknestonet's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Stoiknestonet's blog</a></h1>
        </div>

        <div>
            <p>published: 05.07.202022, 15:59</p>
            <h2><a href="">My first post</a></h2>
            <p>Man,pls, i want to have a job.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Dude, realy. This is my first time. I made it via tutorial. But, in the nearest future i improve my skills.</p>
        </div>
    </body>
</html>